
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subir Archivo</h2>

<form asp-controller="File" asp-action="upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required />
    <button type="submit">Subir</button>
</form>

