
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subir Archivo xlsx</h2>

<div class=" container-fluid">
<form asp-controller="File" asp-action="upload" method="post" enctype="multipart/form-data" class="d-flex gap-2">
    <input type="file" name="file" class="form-control" required />
    <button type="submit" class="btn btn-primary"> Subir </button>
</form>

</div>
